section {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 75% 25%;
    grid-auto-rows: auto;
    margin: 50px 150px;
    color: #b0e9ff;
    gap: 40px;
  }

  
section h2,
h3 {
  color: yellow;
  margin: 15px 0;
  font-family: "Montserrat", sans-serif;
}